.groupChild,
.groupItem {
  border: 1px solid var(--color-black);
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 258px;
  height: 65px;
}
.groupItem {
  width: 814px;
  height: 163px;
}
.occ1 {
  margin: 0;
}
.div,
.occ {
  position: absolute;
  top: 17px;
  left: 8px;
  display: inline-block;
  width: 287px;
  height: 65px;
  -webkit-text-stroke: 1px #000;
}
.div {
  top: 49px;
  left: 307px;
  font-size: var(--font-size-45xl);
  width: 353px;
  height: 83px;
}
.groupInner,
.rectangleGroup {
  position: absolute;
  top: 65px;
  left: 0;
  width: 814px;
  height: 163px;
}
.groupInner {
  top: 0;
  background-color: var(--color-black);
  width: 123px;
  height: 65px;
}
.div1 {
  position: absolute;
  top: 11.9px;
  left: 21.14px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 80.59px;
  height: 40.43px;
  -webkit-text-stroke: 1px #000;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 258px;
  width: 123px;
  height: 65px;
}
.rectangleParent {
  position: absolute;
  top: 280px;
  left: 123px;
  width: 814px;
  height: 228px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
