.div {
  position: absolute;
  top: 97px;
  left: 553px;
  font-size: var(--font-size-61xl);
  text-align: left;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-71xl);
  background-color: var(--color-dodgerblue);
  width: 157px;
  height: 90px;
}
.groupItem,
.rectangleParent {
  position: absolute;
  top: 10.89px;
  left: 32.73px;
  width: 93.7px;
  height: 67.36px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 70px;
  left: 110px;
  width: 157px;
  height: 90px;
}
.buyReceptionInner,
.groupInner {
  position: absolute;
  width: 174px;
  height: 78px;
}
.groupInner {
  border: 0;
  background-color: var(--color-gainsboro);
  top: 0;
  left: 0;
}
.buyReceptionInner {
  top: 124px;
  left: 1161px;
}
.div1,
.div2 {
  position: absolute;
  top: 585px;
  left: 125px;
}
.div2 {
  left: 356px;
}
.div3 {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  z-index: 0;
}
.test2Icon {
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.parent {
  width: 140px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-4xs);
  z-index: 0;
}
.test2Icon1 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div4 {
  top: 0;
  left: 0;
  display: inline-block;
  height: 50px;
}
.component2,
.div4,
.test2Parent {
  position: absolute;
  width: 140px;
}
.test2Parent {
  margin: 0 !important;
  top: 60px;
  left: 0;
  height: 50px;
  z-index: 1;
}
.component2 {
  top: 650px;
  left: 142px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.ellipseIcon {
  position: absolute;
  top: -2px;
  left: -6px;
  width: 522px;
  height: 222px;
}
.b,
.b1 {
  position: absolute;
  top: 40px;
  left: 555px;
  letter-spacing: -0.01em;
}
.b1 {
  top: 115px;
  left: 675px;
}
.rectangleInput {
  border: 1px solid var(--color-black);
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 90px;
  left: 585px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}
.b2,
.id {
  position: absolute;
  top: 253px;
  left: 485px;
  letter-spacing: -0.01em;
}
.id {
  top: 50.28px;
  left: 347.76px;
  display: flex;
  align-items: center;
  width: 102.01px;
  height: 48.46px;
}
.groupChild1 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 101.48px;
  left: 140.96px;
  width: 232.77px;
  height: 80.45px;
}
.b3,
.rectangleIcon {
  position: absolute;
  top: 30.17px;
  left: 87.17px;
  width: 231.84px;
  height: 68.57px;
}
.b3 {
  top: 116.94px;
  left: 104.91px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  width: 82.36px;
  height: 61.8px;
}
.groupChild2 {
  border: 1px solid var(--color-black);
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 110.28px;
  left: 187.27px;
  box-sizing: border-box;
  width: 245.11px;
  height: 71.3px;
}
.groupChild3,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 707px;
  height: 289px;
}
.groupChild3 {
  border: 1px solid var(--color-black);
  background-color: var(--color-gainsboro);
  top: 253px;
  left: 374px;
  box-sizing: border-box;
  width: 109.81px;
  height: 35.18px;
}
.groupContainer {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 205px;
  width: 707px;
  height: 289px;
  z-index: 0;
}
.div6 {
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  z-index: 1;
}
.group,
.test2Icon2 {
  margin: 0 !important;
  position: absolute;
  left: 0;
}
.test2Icon2 {
  top: 15px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.group {
  top: 60px;
  width: 140px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
}
.child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 44.82px;
  background-color: var(--color-dodgerblue);
}
.button,
.child,
.div8 {
  position: absolute;
}
.div8 {
  height: 65.04%;
  width: 62.62%;
  top: 17.96%;
  left: 18.75%;
  font-size: 49.05px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin: 0 !important;
  top: 235px;
  left: 730px;
  width: 180.87px;
  height: 79.97px;
  z-index: 2;
}
.div5 {
  top: 650px;
  left: 376px;
  width: 952px;
  height: 363px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--font-size-13xl);
  font-family: var(--font-comfortaa);
}
.div10,
.div5,
.item {
  position: absolute;
}
.item {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 164px;
  height: 70px;
}
.div10 {
  top: 9.39px;
  left: 34px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 107px;
  height: 45.24px;
  -webkit-text-stroke: 1px #000;
}
.div9 {
  position: relative;
  width: 164px;
  height: 70px;
}
.div12,
.inner {
  position: absolute;
}
.inner {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 164px;
  height: 70px;
}
.div12 {
  top: 9.39px;
  left: 34px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 107px;
  height: 45.24px;
  -webkit-text-stroke: 1px #000;
}
.component4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 346px;
  left: 955px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
}
.buyReception {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
