.div,
.div1 {
  position: absolute;
  height: 3.32%;
  width: 14.79%;
  top: 38.09%;
  left: 6.53%;
  display: inline-block;
}
.div1 {
  height: 11.33%;
  width: 18.13%;
  top: 27.73%;
  left: 3.13%;
}
.purchaseHistoryChild {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  height: 6.35%;
  width: 13.68%;
  top: 27.05%;
  right: 64.65%;
  bottom: 66.6%;
  left: 21.67%;
}
.div2 {
  position: absolute;
  height: 3.32%;
  width: 3.61%;
  top: 28.03%;
  left: 36.67%;
  display: inline-block;
}
.purchaseHistoryItem {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  height: 6.35%;
  width: 13.68%;
  top: 27.25%;
  right: 44.79%;
  bottom: 66.41%;
  left: 41.53%;
}
.div3 {
  position: absolute;
  height: 3.32%;
  width: 14.79%;
  top: 17.48%;
  left: 60.83%;
  display: inline-block;
}
.groupChild {
  text-decoration: none;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 44.82px;
  background-color: var(--color-dodgerblue);
}
.csv,
.groupChild,
.groupWrapper {
  position: absolute;
  top: 0;
}
.csv {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 50.94%;
  width: 96.31%;
  left: 3.69%;
  font-size: 49.05px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.groupWrapper {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.purchaseHistoryInner,
.rectangleDiv {
  position: absolute;
  height: 5.96%;
  width: 15.07%;
  top: 38.28%;
  right: 5.83%;
  bottom: 55.76%;
  left: 79.1%;
}
.rectangleDiv {
  height: 8.5%;
  width: 9.86%;
  top: 25.68%;
  right: 8.75%;
  bottom: 65.82%;
  left: 81.39%;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 7.52%;
  width: 8.82%;
  top: 27.25%;
  left: 82.92%;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.groupItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-71xl);
  background-color: var(--color-dodgerblue);
}
.groupInner {
  position: absolute;
  height: 74.84%;
  width: 59.68%;
  top: 12.22%;
  right: 19.94%;
  bottom: 12.94%;
  left: 20.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild1,
.rectangleGroup {
  position: absolute;
  height: 8.79%;
  width: 10.9%;
  top: 6.84%;
  right: 81.46%;
  bottom: 84.38%;
  left: 7.64%;
}
.groupChild1 {
  height: 73.73%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 26.27%;
  left: 0;
  background-color: var(--color-gainsboro);
}
.div4 {
  position: absolute;
  height: 98.31%;
  width: 31.41%;
  top: 1.69%;
  left: 36.49%;
  display: inline-block;
}
.rectangleContainer {
  position: absolute;
  height: 11.52%;
  width: 71.18%;
  top: 6.84%;
  right: 7.08%;
  bottom: 81.64%;
  left: 21.74%;
  font-size: var(--font-size-45xl);
}
.div5,
.test2Icon {
  position: absolute;
  margin: 0 !important;
  left: 0;
  flex-shrink: 0;
}
.div5 {
  top: 3px;
  display: inline-block;
  width: 140px;
  height: 35px;
  z-index: 0;
}
.test2Icon {
  top: 6px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.parent {
  width: 140px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-4xs);
  z-index: 0;
}
.div6,
.test2Icon1 {
  position: absolute;
  left: 0;
}
.test2Icon1 {
  top: 6px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div6 {
  top: 0;
  display: inline-block;
  width: 140px;
  height: 35px;
}
.test2Parent {
  margin: 0 !important;
  top: 40px;
  left: 0;
  height: 35px;
  z-index: 1;
}
.component3,
.test2Group,
.test2Parent {
  position: absolute;
  width: 140px;
}
.test2Group {
  margin: 0 !important;
  top: 80px;
  left: 0;
  height: 35px;
  z-index: 2;
}
.component3 {
  top: 263px;
  left: 897px;
  height: 122px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--font-size-5xl);
}
.div9 {
  position: relative;
  display: none;
  width: 202px;
  height: 58px;
  flex-shrink: 0;
}
.div8 {
  width: 16.67%;
  right: 0;
  left: 83.33%;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div11,
.div13,
.div8 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.div11 {
  width: 20%;
  right: 80%;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div13 {
  right: 60%;
  left: 20%;
}
.div13,
.div15,
.div17 {
  width: 20%;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div15 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%;
}
.div17 {
  right: 20%;
  left: 60%;
}
.component31,
.div10,
.div17,
.div19 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.div19 {
  width: 20%;
  right: 40%;
  left: 40%;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.component31,
.div10 {
  width: 83.33%;
  right: 16.67%;
  left: 0;
}
.component31 {
  height: 14.29%;
  width: 99.21%;
  top: 14.29%;
  right: 0.79%;
  bottom: 71.43%;
}
.component14,
.component15,
.component16,
.component17,
.component18 {
  position: absolute;
  height: 14.29%;
  width: 99.21%;
  top: 28.57%;
  right: 0.79%;
  bottom: 57.14%;
  left: 0;
}
.component14,
.component15,
.component16,
.component17 {
  top: 85.71%;
  bottom: 0;
}
.component14,
.component15,
.component16 {
  top: 71.43%;
  bottom: 14.29%;
}
.component14,
.component15 {
  top: 57.14%;
  bottom: 28.57%;
}
.component14 {
  top: 42.86%;
  bottom: 42.86%;
}
.div86 {
  width: 16.67%;
  right: 0;
  left: 83.33%;
  background-color: var(--color-powderblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div86,
.div89,
.div91 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.div89 {
  width: 20%;
  right: 80%;
  left: 0;
  background-color: var(--color-powderblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div91 {
  right: 60%;
  left: 20%;
}
.div91,
.div93,
.div95 {
  width: 20%;
  background-color: var(--color-powderblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div93 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%;
}
.div95 {
  right: 20%;
  left: 60%;
}
.component61,
.div95,
.div97 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.div97 {
  width: 20%;
  right: 40%;
  left: 40%;
  background-color: var(--color-powderblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-3xs)
    var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.component61 {
  width: 99.21%;
  right: 0.79%;
  left: 0;
}
.component6,
.div99 {
  position: absolute;
  top: 17.65%;
  left: 3.54%;
}
.component6 {
  height: 14.29%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 85.71%;
  left: 0;
}
.div100,
.div101 {
  position: absolute;
  top: 2.52%;
  left: 20.6%;
}
.div101 {
  left: 35.69%;
}
.component19,
.div102,
.div103,
.idNo {
  position: absolute;
  top: 2.52%;
  left: 85.38%;
}
.component19,
.div103,
.idNo {
  left: 68.79%;
}
.component19,
.idNo {
  left: 54.17%;
}
.component19 {
  top: 512px;
  left: 84px;
  width: 1272px;
  height: 476px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.rectangleInput {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  height: 6.35%;
  width: 33.54%;
  top: 35.94%;
  right: 44.79%;
  bottom: 57.71%;
  left: 21.67%;
}
.purchaseHistory {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
